<.live_component module={ParzivalWeb.Backoffice.BoostLive.FormComponent} id={@boost.id} current_user={@current_user} action={@live_action} boost={@boost} title={@page_title} return_to={Routes.boost_show_path(@socket, :show, @boost)} />
