<.live_component module={ParzivalWeb.Backoffice.BoostLive.FormComponent} id={:new} title={@page_title} action={@live_action} boost={@boost} current_user={@current_user} return_to={Routes.boost_index_path(@socket, :index)} />
