<div>
  <.live_component current_user={@current_user} module={ParzivalWeb.Backoffice.AnnouncementLive.FormComponent} id={:id} title={@page_title} action={@live_action} announcement={@announcement} return_to={Routes.announcement_index_path(@socket, :index)} />
</div>
