<.live_component module={ParzivalWeb.App.CompanyLive.FormComponent} id={@company.id} title={@page_title} action={@live_action} company={@company} current_user={@current_user} return_to={Routes.company_show_path(@socket, :show, @company)} />
