<.live_component current_user={@current_user} module={ParzivalWeb.Backoffice.MissionLive.FormComponent} id={@mission.id} action={@live_action} mission={@mission} title={@page_title} return_to={Routes.mission_show_path(@socket, :show, @mission)} />
