<.live_component current_user={@current_user} module={ParzivalWeb.Backoffice.MissionLive.FormComponent} id={:id} title={@page_title} action={@live_action} mission={@mission} return_to={Routes.mission_index_path(@socket, :index)} />
