<.live_component module={ParzivalWeb.Backoffice.TaskLive.FormComponent} is_completed={@is_completed} id={:new} action={@live_action} task={@task} attendee={@attendee} current_user={@current_user} return_to={Routes.admin_scanner_index_path(@socket, :index)} />
