<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link phx-track-static rel="stylesheet" href="http://localhost:4000/assets/app.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Karla:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet" />
    <title>CV</title>
    <style>
      * {
        -webkit-box-sizing: border-box;
      }
      .flexrow {
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
      }
      .flexrow > div {
        -webkit-box-pack: justify;
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        flex: 1;
      }
      .flexrow > div:last-child {
        margin-right: 0;
      }

      table { border: none; border-style: none; page-break-inside: auto; border-style: hidden!important;}
      tr { page-break-inside: avoid; page-break-after: auto; display: inline-block; border: none; border-style: none;}
      td { border: none; border-style: none;}
    </style>
  </head>

  <body style="background-color: white">
    <div style="background-color: rgb(234,59,45); height: 37.13cm;" class="absolute py-16 px-10 w-1/3">
      <div class="relative mx-auto w-48 h-48">
        <%= if is_nil(@profile_picture) do %>
          <div style="background-color: rgb(234,59,45); border-width: 5px; border-color: white;" class="w-48 h-48 rounded-full border-white">
            <div style="color: white; font-size: 72px; line-height: 1; text-align: center; padding-top: 58px;" class="font-bold">
              <%= extract_initials(@user.name) %>
            </div>
          </div>
        <% else %>
          <div style="background-color: white;" class="w-48 h-48 rounded-full border-white">
            <img src={"http://localhost:4000/#{@profile_picture}"} style="border-width: 5px; border-color: white;" class="object-cover object-center w-48 h-48 rounded-full" />
          </div>
        <% end %>
      </div>
      <div style="color: white;" class="mt-12">
        <p style="font-size: 32px; line-height: 37px;" class="font-black"><%= extract_first_last_name(@user.name) %></p>
        <p class="mt-1">
          <%= if @user.cycle && @user.course do %>
            <%= @user.cycle %> in <%= @user.course %>
          <% end %>
        </p>
        <div style="background-color: white;" class="my-12 mx-auto w-full rounded-full h-[1px]" />
        <div class="flexrow">
          <Heroicons.Solid.mail width="32px" height="32px" fill="white" />
          <span class="ml-3">
            <%= if @user.email do
              @user.email
            end %>
          </span>
        </div>
        <div class="mt-5 flexrow">
          <Heroicons.Solid.phone width="32px" height="32px" fill="white" />
          <span class="ml-3">
            <%= if @user.cellphone do
              @user.cellphone
            end %>
          </span>
        </div>
        <div class="mt-5 flexrow">
          <Heroicons.Solid.globe_alt width="32px" height="32px" fill="white" />
          <span class="ml-3">
            <%= if @user.website do
              @user.website
            end %>
          </span>
        </div>
        <div style="background-color: white;" class="my-12 mx-auto w-full rounded-full h-[1px]" />
        <div>
          <div class="flexrow">
            <Ionicons.Filled.logo_linkedin width="32px" height="32px" fill="white" />
            <span class="ml-3">
              <%= if @user.linkedin do
                @user.linkedin
              end %>
            </span>
          </div>
          <div class="mt-5 flexrow">
            <Ionicons.Filled.logo_github width="32px" height="32px" fill="white" />
            <span class="ml-3">
              <%= if @user.github do
                @user.github
              end %>
            </span>
          </div>
          <div class="mt-5 flexrow">
            <Ionicons.Filled.logo_twitter width="32px" height="32px" fill="white" />
            <span class="ml-3">
              <%= if @user.twitter do
                @user.twitter
              end %>
            </span>
          </div>
        </div>
      </div>
      <img class="absolute w-36 left-[90px] bottom-[64px]" src="http://localhost:4000/images/logo.png" alt="JOIN Logo" />
    </div>
    <%= if @curriculum do %>
      <div class="flex flex-col w-2/3 px-10 ml-[33.333%]">
        <table>
          <tbody>
            <%= if @curriculum.summary do %>
              <tr class="mt-10 w-full">
                <td>
                  <p style="color: rgb(234,59,45);" class="text-2xl font-bold tracking-wider">SUMMARY</p>
                  <p class="mt-5 font-light">
                    <%= @curriculum.summary %>
                  </p>
                </td>
              </tr>
            <% end %>

            <%= if @curriculum.experiences do %>
              <tr class="mt-10 w-full">
                <td>
                  <p style="color: rgb(234,59,45);" class="mb-1 text-2xl font-bold tracking-wider">EXPERIENCE</p>
                  <%= for experience <- @curriculum.experiences do %>
                    <% n_total_months =
                      Enum.reduce(experience.positions, 0, fn position, acc ->
                        if position.current do
                          Timex.diff(Date.utc_today(), position.start, :months) + acc
                        else
                          Timex.diff(position.finish, position.start, :months) + acc
                        end
                      end) %>
                    <div class="mt-4">
                      <p class="text-xl font-medium">
                        <%= experience.organization %>
                        <span style="color: rgb(156,163,175)" class="ml-1 text-sm font-normal">
                          <%= if Integer.floor_div(n_total_months, 12) > 0 do %>
                            <%= Integer.floor_div(n_total_months, 12) %>yrs
                          <% end %>

                          <%= if rem(n_total_months, 12) != 0 do %>
                            <%= rem(n_total_months, 12) %>mos
                          <% end %>
                        </span>
                      </p>
                      <div style="border-left: rgb(209,213,219) 1.5px solid; border-top-style: none; border-bottom-style: none; border-right-style: none;" class="mt-2 ml-2 w-full">
                        <%= for position <- experience.positions do %>
                          <% n_months =
                            if position.current do
                              Timex.diff(Date.utc_today(), position.start, :months)
                            else
                              Timex.diff(position.finish, position.start, :months)
                            end %>
                          <p class="ml-5">
                            <%= position.title %>
                            <span style="color: rgb(156,163,175)" class="ml-2 text-sm">
                              <%= Calendar.strftime(position.start, "%b %Y") %> -
                              <%= if position.current do %>
                                Current ·
                              <% else %>
                                <%= Calendar.strftime(position.finish, "%b %Y") %> ·
                              <% end %>
                              <%= if Integer.floor_div(n_months, 12) > 0 do %>
                                <%= Integer.floor_div(n_months, 12) %>yrs
                              <% end %>
                              <%= if rem(n_months,12) != 0 do %>
                                <%= rem(n_months, 12) %>mos
                              <% end %>
                            </span>
                          </p>
                        <% end %>
                      </div>
                    </div>
                  <% end %>
                </td>
              </tr>
            <% end %>

            <%= if @curriculum.educations do %>
              <tr class="mt-8 w-full">
                <td>
                  <p style="color: rgb(234,59,45);" class="mb-1 text-2xl font-bold tracking-wider">EDUCATION</p>
                  <%= for education <- @curriculum.educations do %>
                    <div class="mt-4">
                      <p class="text-xl font-medium">
                        <%= education.institution %>
                      </p>
                      <p class="text-sm">
                        <%= education.course %>
                      </p>
                      <p style="color: rgb(156,163,175)" class="text-sm">
                        <%= Calendar.strftime(education.start, "%Y") %> - <%= Calendar.strftime(education.finish, "%Y") %>
                      </p>
                    </div>
                  <% end %>
                </td>
              </tr>
            <% end %>

            <%= if @curriculum.volunteerings do %>
              <tr class="mt-10 w-full">
                <td>
                  <p style="color: rgb(234,59,45);" class="mb-1 text-2xl font-bold tracking-wider">VOLUNTEERING</p>
                  <%= for volunteering <- @curriculum.volunteerings do %>
                    <div class="mt-4">
                      <p class="text-xl font-medium">
                        <%= volunteering.position %>
                      </p>
                      <p class="text-sm">
                        <%= volunteering.institution %>
                      </p>
                      <p style="color: rgb(156,163,175)" class="text-sm">
                        <%= Calendar.strftime(volunteering.start, "%b %Y") %> - <%= Calendar.strftime(volunteering.finish, "%b %Y") %> ·
                        <%= if Timex.diff(volunteering.finish, volunteering.start, :years) > 0 do %>
                          <%= Timex.diff(volunteering.finish, volunteering.start, :years) %>yrs
                        <% end %>

                        <%= if rem(Timex.diff(volunteering.finish, volunteering.start, :months), 12) != 0 do %>
                          <%= rem(Timex.diff(volunteering.finish, volunteering.start, :months), 12) %>mos
                        <% end %>
                      </p>
                    </div>
                  <% end %>
                </td>
              </tr>
            <% end %>

            <%= if @curriculum.skills do %>
              <tr class="mt-10 w-full">
                <td>
                  <p style="color: rgb(234,59,45);" class="mb-4 text-2xl font-bold tracking-wider">SKILLS</p>
                  <table>
                    <tbody>
                      <%= for chunk <- Enum.chunk_every(@curriculum.skills,4,4,[]) do %>
                        <tr class="mt-1">
                          <%= for skill <- chunk do %>
                            <td class="w-36">
                              <span style="border-bottom: rgb(234,59,45) 1.5px solid; border-top-style: none; border-left-style: none; border-right-style: none;">
                                <%= if String.length(skill.name) <= 11 do %>
                                  <%= skill.name %>
                                <% else %>
                                  <%= String.slice(skill.name, 0..10) <> "..." %>
                                <% end %>
                              </span>
                            </td>
                          <% end %>
                        </tr>
                      <% end %>
                    </tbody>
                  </table>
                </td>
              </tr>
            <% end %>

            <%= if @curriculum.languages do %>
              <tr class="mt-10 w-full">
                <td>
                  <p style="color: rgb(234,59,45);" class="mb-4 text-2xl font-bold tracking-wider">LANGUAGES</p>
                  <table>
                    <tbody>
                      <%= for {chunk, index} <- Enum.with_index(Enum.chunk_every(@curriculum.languages,3,3,[])) do %>
                        <tr class="mt-1">
                          <%= for language <- chunk do %>
                            <td style={"#{if rem(index, 3) != 0 do
                                  "padding-right: 1.25rem"
                                end}"} class="w-52">
                              <p class="font-medium">
                                <%= language.idiom %>
                              </p>
                              <p style="color: rgb(156,163,175)" class="text-xs">
                                <%= language.proficiency %>
                              </p>
                            </td>
                          <% end %>
                        </tr>
                      <% end %>
                    </tbody>
                  </table>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    <% end %>
  </body>
</html>
