<.live_component module={ParzivalWeb.App.OrderLive.FormComponent} id={@order.id} title={@page_title} action={@live_action} order={@order} current_user={@current_user} return_to={Routes.admin_scanner_index_path(@socket, :index)} />
