<.live_component module={ParzivalWeb.App.Staff.TaskUserLive.FormComponent} is_completed={@is_completed} id={:new} action={@live_action} task={@task} attendee={@attendee} current_user={@current_user} return_to={Routes.staff_scanner_index_path(@socket, :index)} />
