<.live_component module={ParzivalWeb.App.MissionLive.TaskUserLive.FormComponent} id={:new} action={@live_action} task={@task} attendee={@attendee} current_user={@current_user} return_to={Routes.scanner_index_path(@socket, :index)} />
