<.live_component module={ParzivalWeb.Backoffice.ProductLive.FormComponent} id={@product.id} current_user={@current_user} action={@live_action} product={@product} title={@page_title} return_to={Routes.product_show_path(@socket, :show, @product)} />
