<div>
  <.live_component current_user={@current_user} module={ParzivalWeb.FaqsLive.FormComponent} id={@faq.id} action={@live_action} faq={@faq} title={@page_title} return_to={Routes.faqs_show_path(@socket, :show, @faq)} />
</div>
