<div>
    <.live_component
        current_user={@current_user}
        module={ParzivalWeb.AnnouncementLive.FormComponent}
        id={@announcement.id}
        action={@live_action}
        announcement={@announcement}
        title={@page_title}
        return_to={Routes.announcement_show_path(@socket, :show, @announcement)}
    />
</div>
