<div>
    
    <video id="video" class="hidden"></video>
    <canvas id="canvas" width="500" height="500"></canvas>
  
    <script src="/assets/qrjs.js"></script>
    <script src="/assets/qr_reading.js"></script>
</div>