<div id="offer-edit" phx-update="ignore">
  <.live_component module={ParzivalWeb.OfferLive.FormComponent} companies={@companies} id={@offer.id} title={@page_title} action={@live_action} offer={@offer} current_user={@current_user} return_to={Routes.offer_show_path(@socket, :show, @offer)} />
</div>
