<div id="offer-new" phx-update="ignore">
  <.live_component module={ParzivalWeb.OfferLive.FormComponent} companies={@companies} id={:new} title={@page_title} action={@live_action} offer={@offer} current_user={@current_user} return_to={Routes.offer_index_path(@socket, :index)} />
</div>
