<div class="h-full bg-white border-r border-gray-200">
  <.live_component current_user={@current_user} module={ParzivalWeb.ProductLive.FormComponent} id={@product.id} action={@live_action} product={@product} title={@page_title} return_to={Routes.product_show_path(@socket, :show, @product)} />
</div>
