<div class="h-full bg-white border-r border-gray-200">
    <.live_component
        current_user={@current_user}
        module={ParzivalWeb.ProductLive.FormComponent}
        id={:id}
        title={@page_title}
        action={@live_action}
        product={@product}
        return_to={Routes.product_index_path(@socket, :index)} />
</div>
