<div>
  <.live_component current_user={@current_user} module={ParzivalWeb.Backoffice.FaqsLive.FormComponent} id={:id} title={@page_title} action={@live_action} faq={@faq} return_to={Routes.admin_faqs_index_path(@socket, :index)} />
</div>
