<div id="curriculum-edit" phx-update="ignore">
  <.live_component id={@user.curriculum.id || :new} module={ParzivalWeb.Backoffice.UserLive.FormComponent} curriculum={@user.curriculum} user={@user} action={@live_action} return_to={Routes.admin_user_index_path(@socket, :index)} />
</div>
