<.live_component id={:new} module={ParzivalWeb.App.ProfileLive.FormComponent} user={@user} action={@live_action} role={@current_tab} current_user={@current_user} return_to={Routes.admin_user_index_path(@socket, :index)} />
