<div>
  <.live_component id={@user.id || :new} module={ParzivalWeb.Backoffice.UserLive.FormComponent} user={@user} action={@live_action} role={@current_tab} return_to={Routes.admin_user_index_path(@socket, :index)} />
</div>
