<.live_component id={@user.id} module={ParzivalWeb.App.ProfileLive.FormComponent} user={@user} current_user={@current_user} action={@live_action} return_to={Routes.profile_show_path(@socket, :show, @user)} />
